<div class="loader" *ngIf="loader"><span></span></div>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Post Create</h4>
                        <br>
                        <a [routerLink]="['/admin/posts']">Posts list </a>
                    </div>
                    <div class="content">
                        <form novalidate (ngSubmit)="submitForm(postGroup.value)" [formGroup]="postGroup">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <p>Тип аккаунта</p>
                                    <input type="radio" id="owner" formControlName="accountType" name="accountType" value="owner">
                                    <label for="owner">Владелец</label>

                                    <input type="radio" id="agent" formControlName="accountType" name="accountType" value="agent">
                                    <label for="agent">Агенство</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <p>Тип сделки</p>
                                    <input type="radio" formControlName="sellingType" id="sell"
                                    name="sellingType" value="sell">
                                    <label for="sell">Продаю</label>

                                    <input type="radio" formControlName="sellingType" id="rent" name="sellingType" value="rent">
                                    <label for="rent">Сдаю</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Что продаете?</label>
                                        <select formControlName="forSell" class="form-control" >
                                            <option *ngFor="let sell of forSell" [value]="sell.value">{{ sell.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="postGroup.controls['forSell'].value === 'room' || postGroup.controls['forSell'].value === 'forShortTime'" class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Тип</label>
                                        <select formControlName="typeOfRoom" class="form-control" >
                                            <option *ngFor="let item of typeOfRooms" [value]="item.value">{{ item.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Количество комнат</label>
                                        <input [textMask]="{mask: areaMask}" formControlName="flatCount" type="text"class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group squere">
                                        <label>Площадь</label>
                                        <div class="floor">
                                        <input [textMask]="{mask: areaMask}" formControlName="area" type="text">
                                        <b> m&#178;</b>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="postGroup.controls['forSell'].value == 'house' || 
                                postGroup.controls['forSell'].value == 'area' || postGroup.controls['forSell'].value == 'other' || postGroup.controls['forSell'].value == 'business'">
                                    <div class="form-group squere">
                                    <label>Площадь участка</label>
                                    <div class="floor">
                                        <input [textMask]="{mask: areaMask}" formControlName="areaOfHouse" class="form-control" type="text"/>
                                        <b>cот.</b>
                                    </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="postGroup.controls['forSell'].value !== 'area'">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Этаж</label>
                                        <div class="floor">
                                            <input [textMask]="{mask: areaMask}" formControlName="floor" type="text">
                                            <span *ngIf="postGroup.controls['forSell'].value === 'room' || postGroup.controls['forSell'].value === 'forShortTime' ||
                                            postGroup.controls['forSell'].value === 'office'">
                                                <b> из </b>
                                                <input [textMask]="{mask: areaMask}" formControlName="floorOf" type="text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="postGroup.controls['typeOfRoom'].value !== 'pso'" class="col-md-9">
                                    <div class="form-group">
                                        <p>Ремонт (Состояние)</p>
                                        <span *ngFor="let item of typeOfFixes">
                                            <input type="radio" id="{{item.value}}" formControlName="fixes" name="fixes" [value]="item.value">
                                            <label for="{{item.value}}">{{item.name}}</label>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Адресс <br/><i class="foto-descr">Можете передвинуть красный ползунок для точного указания места расположения вашего адресса.</i></label>

                                        <input formControlName="address" placeholder="112 улица Ахунбаева, Бишкек, Киргизия" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search>
                                    </div>
                                </div>
                            </div>
    
                            <agm-map 
                                [latitude]="defaultData.lat"
                                [longitude]="defaultData.lng"
                                [zoom]="defaultData.zoom"
                                [disableDefaultUI]="false"
                                [zoomControl]="true"
                                (mapClick)="mapClicked($event)">

                                <agm-marker 
                                [latitude]="defaultData.lat"
                                [longitude]="defaultData.lng"
                                [label]="'A'"
                                [markerDraggable]="true"
                                (dragEnd)="markerDragEnd($event)">
                                </agm-marker>
                            </agm-map>

                            <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <label>Фото <br /><i class="foto-descr">Не допускаются к размещению фотографии с водяными знаками, чужих объектов и рекламные баннеры. JPG, PNG или GIF. Максимальный размер файла 10 мб, максимальное количество фотографий не должен превышать 10 штук</i></label>
                                    <image-upload
                                        [max]="10"
                                        [buttonCaption]="'Выберите файл'"
                                        (uploadFinished)="onUploadFinished($event)"
                                        (removed)="onRemoved($event)"
                                        [dropBoxMessage]="'Загрузить фотографии'"
                                        [extensions]="['jpg','png','gif']"
                                        [class]="'customClass'">
                                    </image-upload>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Описание</label>
                                        <textarea formControlName="description" rows="5" class="form-control" placeholder="Введите текст"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Цена</label>
                                        <input [textMask]="{mask: numberMask, guide: false}" formControlName="price" class="price" type="text"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <p>Валюта</p>
                                        <span *ngFor="let item of typeOfCurrency">
                                            <input type="radio" name="currency" id="{{item.value}}" formControlName="currency" [value]="item.value">
                                            <label for="{{item.value}}">{{item.name}}</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p>Продажа возможна</p>
                                        <span *ngFor="let item of typeOfPlan">
                                            <input type="radio" [id]="item.value" name="typeOfPlan" formControlName="typeOfPlan" [value]="item.value">
                                            <label for="{{item.value}}">{{item.name}}</label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Ваш номер телефона <br />  <i class="foto-descr">Подсказка для ввода телефона</i></label>
                                        <input [textMask]="{mask: phoneMask, placeholderChar: '\u2000'}" formControlName="phone" class="form-control" type="text" placeholder="(554) 555-555"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Дополнительный номер телефона</label>
                                        <input [textMask]="{mask: phoneMask, placeholderChar: '\u2000'}" formControlName="extraPhone" class="form-control" type="text" placeholder="(551) 555-555"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Воцап</label>
                                        <input [textMask]="{mask: phoneMask, placeholderChar: '\u2000'}" formControlName="whatsapp" class="form-control" type="text" placeholder="(551) 555-556"/>
                                    </div>
                                </div>
                            </div>
                            <!-- [disabled]="postGroup.invalid" -->
                            <button  class="zippy" type="submit" class="btn btn-info btn-fill pull-right">Разместить объявление</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
