<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Striped Table with Hover </h4>
                        <br>
                        <a [routerLink]="['/admin/posts/create']">Create new Post</a>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let cell of tableHeader">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of posts | paginate: { itemsPerPage: 15, currentPage: p }">
                                        <td class="slider">
                                            <span *ngIf="!item.images?.length">нет</span>
                                            <ngx-carousel
                                            *ngIf="item.images?.length"
                                            [inputs]="carouselOne">
                                                <ngx-item NgxCarouselItem *ngFor="let img of item.images">
                                                  <h2><img [src]="img"></h2>
                                                </ngx-item>
                                                <button NgxCarouselPrev class='leftRs'>&lt;</button>
                                                <button NgxCarouselNext class='rightRs'>&gt;</button>
                                            </ngx-carousel>
                                        </td>
                                        <td>{{item.accountType}}</td>
                                        <td>{{item.sellingType}}</td>
                                        <td>{{item.forSell}}</td>
                                        <td>{{item.typeOfRoom}}</td>
                                        <td>{{item.flatCount}}</td>
                                        <td>{{item.area}}</td>
                                        <td>{{item.areaOfHouse}} 
                                            <span *ngIf="!item.areaOfHouse">не указано</span>
                                        </td>
                                        <td>{{item?.floor}} 
                                            <span *ngIf="item?.floorOf">/ {{item?.floorOf}}</span>
                                        </td>
                                        <td>{{item.fixes}}</td>
                                        <td>{{item.address}}</td>
                                        <td>{{item.description}}</td>
                                        <td>{{item.price}} {{item.currency}}</td>
                                        <td>возможность продажи</td>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.extraPhone}}
                                            <span *ngIf="!item.extraPhone">нет</span>
                                        </td>
                                        <td>{{item.whatsapp}}
                                            <span *ngIf="!item.whatsapp">нет</span>
                                        </td>
                                    </tr>
                                </tbody>
                          </table>
                          <pagination-controls (pageChange)="p = $event"></pagination-controls>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
